## IMPORTING IMPORTANT LIBRARIES

In [35]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

#### Loading the given dataset to pandas dataframe and taking data set name as cfd(credit_card_fraud_Detection)

In [36]:
cfd = pd.read_csv(r'C:\Users\shoai\Downloads\creditcard.csv')

In [37]:
cfd

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [38]:
#fetching first five rows of given dataset

cfd.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [39]:
# CHECKING LAST FIVE ENTRIES OF GIVEN DATASET

cfd.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [40]:
# FETCHING IMPORTANT DETAILS ABOUT DATASET
cfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [41]:
# CHECKING FOR MISSING VALUES IN THE GIVEN DATASET

cfd.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

#  We don't have any missing values in our given data set

# checking the distribution of legit and fraud transactions where 1 shows fraud transaction and 0 shows legit transaction

In [42]:
cfd['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# GIVEN DATASET IS HIGHLY UNBALANCED

In [43]:
# separating dataset for analysis

fraud = cfd[cfd.Class == 1]
legit = cfd[cfd.Class == 0]

In [44]:
print(fraud)

            Time        V1        V2        V3        V4        V5        V6  \
541        406.0 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623        472.0 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920      4462.0 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788
6108      6986.0 -4.397974  1.358367 -2.592844  2.679787 -1.128131 -1.706536
6329      7519.0  1.234235  3.019740 -4.304597  4.732795  3.624201 -1.357746
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V21       V22       V23  \
541    -2.537387  1.391657 -2.770089  ...  0.517232 -0.035049 -0.465211
623     0.325574 -0.067794 -0.270953  ...  0.661696  0.435477  1.375966
4920    0.562320 -0.399147 -0.238253  ... -0.294166 -0.932391  0.172726
6108   -3.496197 -0.248778 -0.247768  ...  0.573574  0.176968 -0.436207
6329    1.713445 -0.496358 -1.282858  ... -0.379068 -0.704181 -0.656805
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  0.778584 -0.319189  0.639419
280143 -1.413170  0.248525 -1.127396  ...  0.370612  0.028234 -0.145640
280149 -2.234739  1.210158 -0.652250  ...  0.751826  0.834108  0.190944
281144 -2.208002  1.058733 -1.632333  ...  0.583276 -0.269209 -0.456108
281674  0.223050 -0.068384  0.577829  ... -0.164350 -0.295135 -0.072173

             V24       V25       V26       V27       V28  Amount  Class
541     0.320198  0.044519  0.177840  0.261145 -0.143276    0.00      1
623    -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00      1
4920   -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93      1
6108   -0.053502  0.252405 -0.657488 -0.827136  0.849573   59.00      1
6329   -1.632653  1.488901  0.566797 -0.010016  0.146793    1.00      1
...          ...       ...       ...       ...       ...     ...    ...
279863 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00      1
280143 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76      1
280149  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89      1
281144 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00      1
281674 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53      1

[492 rows x 31 columns]

In [45]:
print(legit)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284315 rows x 31 columns]

In [46]:
print(fraud.shape)
print(legit.shape)

(492, 31)
(284315, 31)

# STATICAL DESCRIPTION OF DATA

In [47]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [48]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [49]:
#Comparing values of both transaction

cfd.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under - Sampling

In [50]:
Legit_sample = legit.sample(n=2000)

In [51]:
#merging dataset row wise 

new_dataset = pd.concat([Legit_sample, fraud], axis = 0)

In [52]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
81649,59032.0,1.319679,-0.826788,-1.582538,-1.783382,1.673938,2.985187,-0.608488,0.644315,-1.221786,...,-0.204989,-1.074068,0.017622,0.977412,0.476402,-0.523731,-0.029908,0.022525,98.00,0
128377,78691.0,1.242867,-0.948596,0.700248,-0.603197,-1.446542,-0.403008,-0.914841,-0.028806,-0.346053,...,-0.209979,-0.286451,-0.066453,-0.084650,0.095305,1.132216,-0.039766,0.027098,84.00,0
41944,40892.0,-1.923951,-0.505810,0.971112,-2.978500,-1.035788,-0.664969,-1.173881,0.351152,0.517545,...,-0.167710,0.221295,-0.588269,0.067425,-0.675119,-0.909922,-0.725650,-0.695339,7.28,0
261245,159927.0,-0.648025,0.920404,-1.044705,-0.039396,0.529387,-1.437489,0.710626,0.078837,-0.130695,...,0.316883,0.997565,-0.012546,-0.162919,-0.239865,-0.140497,0.158904,0.100992,49.99,0
255222,157120.0,-1.162175,1.279108,-3.091889,1.210485,0.752451,-1.269183,0.766979,0.623155,-1.228410,...,0.634584,1.782876,0.308428,0.737385,-1.028541,-0.412776,-0.075802,-0.158765,26.00,0

In [53]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [54]:
new_dataset['Class'].value_counts()

0    2000
1     492
Name: Class, dtype: int64

In [55]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96120.744000,0.079493,0.013861,-0.014655,-0.044252,0.024270,-0.018977,0.008021,0.023941,-0.040339,...,-0.006163,-0.012067,-0.014578,-0.003485,-0.00966,-0.001965,-0.005752,0.009658,-0.002279,84.312520
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

### SPLITTING DATA INTO FETURES AND TARGET

In [56]:
X= new_dataset.drop(columns = 'Class', axis = 1)
Y = new_dataset['Class']

In [57]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
81649    59032.0  1.319679 -0.826788 -1.582538 -1.783382  1.673938  2.985187
128377   78691.0  1.242867 -0.948596  0.700248 -0.603197 -1.446542 -0.403008
41944    40892.0 -1.923951 -0.505810  0.971112 -2.978500 -1.035788 -0.664969
261245  159927.0 -0.648025  0.920404 -1.044705 -0.039396  0.529387 -1.437489
255222  157120.0 -1.162175  1.279108 -3.091889  1.210485  0.752451 -1.269183
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
81649  -0.608488  0.644315 -1.221786  ...  0.365066 -0.204989 -1.074068
128377 -0.914841 -0.028806 -0.346053  ... -0.313673 -0.209979 -0.286451
41944  -1.173881  0.351152  0.517545  ... -0.830644 -0.167710  0.221295
261245  0.710626  0.078837 -0.130695  ... -0.026530  0.316883  0.997565
255222  0.766979  0.623155 -1.228410  ... -0.685229  0.634584  1.782876
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
81649   0.017622  0.977412  0.476402 -0.523731 -0.029908  0.022525   98.00
128377 -0.066453 -0.084650  0.095305  1.132216 -0.039766  0.027098   84.00
41944  -0.588269  0.067425 -0.675119 -0.909922 -0.725650 -0.695339    7.28
261245 -0.012546 -0.162919 -0.239865 -0.140497  0.158904  0.100992   49.99
255222  0.308428  0.737385 -1.028541 -0.412776 -0.075802 -0.158765   26.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[2492 rows x 30 columns]

In [58]:
print(Y)

81649     0
128377    0
41944     0
261245    0
255222    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 2492, dtype: int64

### SPLIT DATA INTO TRAINING AND TESTING

In [59]:
X_train, X_test, Y_train, Y_test = train_test_split(X , Y , test_size = 0.2 , stratify = Y , random_state = 2)

In [60]:
print(X_train, X_test, Y_train, Y_test)

            Time        V1        V2        V3        V4        V5        V6  \
192101  129542.0 -6.256135 -8.588078 -2.852432 -2.211532  0.410012 -2.964543
84785    60462.0 -2.400046 -1.517999  0.741046  0.644431  0.220827 -1.000403
127200   78241.0 -0.590439  1.120465  1.878768 -0.093409 -0.003269 -1.038710
8972     12393.0 -4.064005  3.100935 -1.188498  3.264633 -1.903562  0.320351
4596      3947.0 -1.208196  1.155700  1.264236 -2.822906 -0.238826 -1.983584
...          ...       ...       ...       ...       ...       ...       ...
204170  135144.0  1.886351 -0.229320 -0.904370  0.138658 -0.163676 -0.175344
143378   85309.0  1.131349  0.242518  0.912310  2.340154 -0.450621  0.162471
148234   89603.0 -0.919998  1.325687  0.573379 -0.195700  0.034159 -0.773074
151103   94625.0  1.707857  0.024881 -0.488140  3.787548  1.139451  2.914673
20354    30980.0 -1.432909  0.517859  0.621523 -0.598064  0.347944 -0.260753

              V7        V8        V9  ...       V20       V21       V22  \
192101  2.044078 -0.086857 -0.097425  ...  3.421967  1.058170 -0.255497
84785   1.619929 -0.367341 -0.304917  ... -0.312875 -0.113098  0.336869
127200  1.088792 -0.547503  0.146145  ...  0.332902 -0.324139 -0.509663
8972   -0.954940 -3.277535  2.820829  ... -0.531898  1.688665 -0.078845
4596    0.861930 -0.253922  1.998796  ... -0.167053 -0.217934 -0.284285
...          ...       ...       ...  ...       ...       ...       ...
204170 -0.497764  0.108970  0.893157  ... -0.030749 -0.180255 -0.463681
143378 -0.448927  0.258143 -0.424047  ... -0.217916  0.154417  0.303026
148234  0.672290 -0.851574  1.538427  ...  0.066753  0.390533  1.368293
151103 -0.743358  0.699136  1.008471  ... -0.368014  0.010865  0.548258
20354   0.757008  0.521424 -0.616229  ...  0.270595 -0.404099 -1.687959

             V23       V24       V25       V26       V27       V28   Amount
192101  2.504461 -0.180469  0.307111 -1.098112  0.048576 -0.567359  1156.69
84785   1.631833  0.401978  0.582758  0.574604  0.271723 -0.163215   278.00
127200 -0.036740  0.686052 -0.252231 -0.013641 -0.090642 -0.264662     2.97
8972    0.193731  0.479496 -0.506603 -0.409863 -3.036271 -0.630605   179.66
4596   -0.043126  0.896535 -0.018195 -0.581269 -0.278670 -0.116829     1.41
...          ...       ...       ...       ...       ...       ...      ...
204170  0.366052  0.592923 -0.518505 -0.339373  0.017318 -0.005291    38.52
143378 -0.095074 -0.045016  0.387723  0.105562 -0.003844  0.013497    10.59
148234 -0.077649  0.346945 -0.808674 -0.389384 -1.275189 -0.173710     5.17
151103  0.091218 -1.007959 -0.082183  0.179709  0.007738 -0.068841    33.76
20354   0.257953 -0.850234  0.303905 -0.003902 -0.005469 -0.101063   124.95

[1993 rows x 30 columns]             Time        V1        V2        V3        V4        V5        V6  \
223720  143495.0 -1.516728 -0.552812  0.655063  1.254016  1.025853  1.506051
218560  141363.0 -1.383741 -1.147856  0.997812  0.745326  0.432273 -0.792287
182659  125498.0 -0.086694  0.166240  1.573127  0.687266  0.222359  1.102606
167305  118603.0 -6.677212  5.529299 -7.193275  6.081321 -1.636071  0.500610
151531   95643.0  2.065107  0.060138 -1.115971  0.570026 -0.010674 -1.212610
...          ...       ...       ...       ...       ...       ...       ...
152028   96735.0  2.040694 -0.129951 -1.138995  0.356299  0.215550 -0.397564
138         85.0  1.327884 -0.735012  1.502449 -0.544105 -1.909350 -0.712498
6529      7891.0 -1.585505  3.261585 -4.137422  2.357096 -1.405043 -1.879437
143335   85285.0 -6.713407  3.921104 -9.746678  5.148263 -5.151563 -2.099389
191359  129222.0  1.177824  2.487103 -5.330608  5.324547  1.150243 -1.281843

              V7        V8        V9  ...       V20       V21       V22  \
223720 -0.465410  1.162477 -0.102696  ...  0.186414 -0.110700 -0.640919
218560  0.575442  0.005802  0.095550  ...  0.679180  0.611728  1.065022
182659  1.575093 -1.098608  0.763887  ...  0.052960  0.015324  1.063663
167305 -4.640770 -4.339840 -0.950036  ... -1.118687  5.563301 -1.608272
151531  0.073058 -0.422235  1.977219  ... -0.319273  0.110177  0.726132
...          ...       ...       ...  ...       ...       ...       ...
152028 -0.062506 -0.303242  2.273530  ... -0.175219 -0.061128  0.397362
138    -1.292820 -0.002715 -0.246028  ...  0.111537  0.461092  1.308647
6529   -3.513687  1.515607 -1.207166  ...  0.315957  0.501543 -0.546869
143335 -5.937767  3.578780 -4.684952  ...  0.135711  0.954272 -0.451086
191359 -1.171994  0.413778 -2.659840  ...  0.156057  0.262325 -0.431790

             V23       V24       V25       V26       V27       V28  Amount
223720  0.426300 -1.431889 -1.015021 -0.921416  0.177754 -0.039322   90.02
218560  0.730751 -0.000532 -0.592046 -0.716084  0.144583  0.282721  266.97
182659 -0.410841  0.722723 -0.171733 -0.613543 -1.201571 -1.139931  170.10
167305  0.965322  0.163718  0.047531  0.466165  0.278547  1.471988  105.89
151531  0.023427 -0.046417  0.202969 -0.136005 -0.042122 -0.065377    1.00
...          ...       ...       ...       ...       ...       ...     ...
152028  0.051460  0.631321  0.228178  0.128179 -0.050333 -0.059534   15.74
138    -0.046031  0.764375  0.281841 -0.063753  0.060406  0.037296   11.99
6529   -0.076584 -0.425550  0.123644  0.321985  0.264028  0.132817    1.00
143335  0.127214 -0.339450  0.394096  1.075295  1.649906 -0.394905  252.92
191359 -0.092088  0.145216  0.457788  0.167739  0.451243  0.268421    4.87

[499 rows x 30 columns] 192101    0
84785     0
127200    0
8972      1
4596      0
         ..
204170    0
143378    0
148234    0
151103    1
20354     0
Name: Class, Length: 1993, dtype: int64 223720    0
218560    0
182659    0
167305    1
151531    0
         ..
152028    0
138       0
6529      1
143335    1
191359    1
Name: Class, Length: 499, dtype: int64

In [61]:
print(X.shape , X_train.shape , X_test.shape)

(2492, 30) (1993, 30) (499, 30)

### MODEL  TRAINING  USING  LOGISTIC  REGRESSION

In [62]:
model = LogisticRegression(max_iter = 10000)

#### TRAINING LOGISTIC REGRESSION MODEL WITH TRAINING DATA

In [63]:
model.fit(X_train,Y_train)

LogisticRegression(max_iter=10000)

In [64]:
X_train_prediction = model.predict(X_train)

In [65]:
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [66]:
print("ACCURACY ON TRAINING DATA : ", training_data_accuracy)

ACCURACY ON TRAINING DATA :  0.9698946312092324

### ACCURACY ON TEST DATA

In [68]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [69]:
print('ACCURACY SCORE ON TEST DATA ; ' , test_data_accuracy)

ACCURACY SCORE ON TEST DATA ;  0.9659318637274549